#!/bin/bash
# User-specific configuration template

# git settings to use for for git and gh commands
export GIT_USER_NAME="REPLACE_WITH_YOUR_NAME"
export GIT_USER_EMAIL="REPLACE_WITH_YOUR_EMAIL"

# your wsl ubuntu username
export NIX_USERNAME="REPLACE_WITH_YOUR_USERNAME"

echo "User environment configured for: $GIT_USER_NAME"